*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 50px;
}
.year{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container>.year:nth-child(2){
    /* background-color: red; */
    left: 51.8%;
    top: 46.1%;
    /* top: 30%; */
}